h1{
    text-align: center;
    font-family: fantasy;
}
h2{
    color: blue;
    font-family: 'Aldrich', sans-serif;

}
h3{
    text-align: left;
    font-family: cursive;
}
p{
    text-align: justify;
    font-family: 'Dancing Script', cursive;
}
