#entire-content{
    background-color: green;
}
.div1{
    background-color: chartreuse;
}
.para1{
    color: honeydew;
    background-color: black;
}
.div2{
    background-color: aqua;
    color: crimson;
}
.hdh3{
    color: black;
}
.para2{
    background-color: darkmagenta;
    color: burlywood;
}
.div3{
    background-color: yellow;
    color: red;
}
.hd3{
    background-color: gray;
}
.ul{
    color: blue;