*{
    background-color: #adf0d9;
}
.art1 h1{
    color: #0000ff;
    text-align: center;
    word-spacing: -5px;

}
.art1 p{
    color: #df13ac;
    text-align: justify;
    text-transform: uppercase;
    word-spacing: -2px;
  
}
.art2 h1{
    color: crimson;
    text-align: center;
    word-spacing: 8px;
}
.art2 p{
    color:blue;
    text-align: justify;
    text-transform: lowercase;
    word-spacing: 5px;
}
.art3 h1{
    color:#0eaf0e ;
    text-align: center;
    word-spacing: 20px;
}
.art3 p{
    color: #a80a0a;
    text-align: justify;
    text-transform: capitalize;
   word-spacing: 15px;
}