.art1 h1{
    color: #0000ff;

}
.art1 p{
    color: #df13ac;
}
.art2 h1{
    color: crimson;
}
.art2 p{
    color:blue;
}
.art3 h1{
    color:#0eaf0e ;
}
.art3 p{
    color: #a80a0a;
}